STORAGE_TYPE=
# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# GCP Configuration
GCP_BUCKET_NAME=
GCP_PROJECT_ID=
GCP_STORAGE_SERVICE_ACCOUNT_CLIENT_EMAIL=
GCP_STORAGE_SERVICE_ACCOUNT_PRIVATE_KEY=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


GCP_FIRESTORE_DATABASE_ID=
GCP_FIRESTORE_SERVICE_ACCOUNT_CLIENT_EMAIL=
GCP_FIRESTORE_SERVICE_ACCOUNT_PRIVATE_KEY=

JWT_SECRET=